<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Marilan - Manutenção</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="escolha-container">
    <div class="logo-area">
      <img 
  src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Marilan-logo-2.png" 
  alt="Marilan" 
  class="logo-img"
/>
      <h1>Bem-vindo</h1>
      <p>Selecione sua área de acesso</p>
    </div>

    <div class="botoes-area">
      <ion-button expand="block" size="large" color="primary" routerLink="/login-manutentor">
        <ion-icon name="hammer-outline" slot="start"></ion-icon>
        Manutentor
      </ion-button>

      <ion-button expand="block" size="large" color="secondary" routerLink="/login-almoxarife">
        <ion-icon name="cube-outline" slot="start"></ion-icon>
        Almoxarife
      </ion-button>
    </div>
  </div>
</ion-content>